# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python log files
*.npz

# Distribution / packaging
build*/
*.egg-info/
*.egg
MANIFEST

# Perf profiling
*.prof

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

.ipynb_checkpoints

__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/

.clang-format
.vscode/
figs/
.DS_Store

