robot:
  # General parameters
  config_file: ${HOME}/git-repos/quadruped-reactive-walking/config/config_solo12.yaml  #  Name of the yaml file containing hardware information
  interface: enp2s0  # Name of the communication interface (check with ifconfig)
  LOGGING: false  # Enable/disable logging during the experiment
  PLOTTING: true  # Enable/disable automatic plotting at the end of the experiment
  DEMONSTRATION: false  # Enable/disable demonstration functionalities
  SIMULATION: true  # Enable/disable PyBullet simulation or running on real robot
  enable_pyb_GUI: false  # Enable/disable PyBullet GUI
  env_id: 0  # Identifier of the environment to choose in which one the simulation will happen
  use_flat_plane: true  # If True the ground is flat, otherwise it has bumps
  predefined_vel: true  # If we are using a predefined reference velocity (True) or a joystick (False)
  N_SIMULATION: 12000  # Number of simulated wbc time steps
  perfect_estimator: false  # Enable/disable perfect estimator by using data directly from PyBullet
  use_qualisys: false
  ocp:
    num_threads: 2  # number of threads allowed for the ocp solver
    max_iter: 1  # maximum number of solver iterations
    init_max_iters: 5  # initial max_iter
    verbose: false  # solver verbosity
    tol: 1e-4
  asynchronous_mpc: no # Run the MPC in an asynchronous process parallel of the main loop
  mpc_in_rosnode: no  # Run the MPC on a separate rosnode

  # General control parameters
  # q_init: [ 0.00208551,  0.97841023, -1.77335038,  0.0020868,   0.97951833, -1.77534163, 0.00208551,  0.97841023, -1.77335038,  0.0020868,   0.97951833, -1.77534163]
  # q_init: [0.0, 0.865, -1.583, 0.0, 0.865, -1.583, 0.0, 0.865, -1.583, 0.0, 0.865, -1.583]  # h_com = 0.2
  # q_init: [0.0, 0.764, -1.407, 0.0, 0.76407, -1.4, 0.0, 0.76407, -1.407, 0.0, 0.764, -1.407]  # h_com = 0.218
  q_init: [0.0, 0.7, -1.4, 0.0, 0.7, -1.4, 0.0, -0.7, 1.4, 0.0, -0.7, 1.4]  # Initial articular positions
  h_ref: 0.260748  # Reference height for the base
  window_size: 2  # MPC window size
  dt_wbc: 0.001  # Time step of the whole body control
  dt_mpc: 0.012  # Time step of the model predictive control
  save_guess: false  # true to interpolate the impedance quantities between nodes of the MPC
  movement: walk  # name of the movement to perform
  interpolate_mpc: true  # true to interpolate the impedance quantities between nodes of the MPC
  interpolation_type: 3  # 0,1,2,3 decide which kind of interpolation is used
  closed_loop: true  # true to close the loop on the MPC
  Kp_main: [1, 1, 1]  # Proportional gains for the PD+
  Kd_main: [0.2, 0.2, 0.2]  # Derivative gains for the PD+
  Kff_main: 1.0  # Feedforward torques multiplier for the PD+

  # Parameters of Gait
  N_periods: 1
  starting_nodes: 40
  ending_nodes: 40
  gait: [20, 1, 0, 0, 1, 20, 0, 1, 1, 0]
  gait_repetitions: 200

  # Parameters of Joystick
  gp_alpha_vel: 0.003  # Coefficient of the low pass filter applied to gamepad velocity
  gp_alpha_pos: 0.005  # Coefficient of the low pass filter applied to gamepad position
  t_switch: [0, 1, 3, 4, 5, 8, 9, 10]
  v_switch: [0.0, 0.3, 0.3, 0, -0.3, -0.3, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.0,
    0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
    0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
    0.0, 0.0]

  # Parameters of Estimator
  fc_v_esti: 50.0  # Cut frequency for the low pass that filters the estimated base velocity

  # Parameters fro solo3D simulation
  solo3D: false  # Activation of the 3D environment, and corresponding planner blocks
task:
  walk: &base_task_pms
    friction_mu: 0.4
    fly_high_slope: 2000.
    fly_high_w: 50000.
    ground_collision_w: 1000.
    vertical_velocity_reg_w: 1.
    base_velocity_tracking_w: 800000.
    foot_tracking_w: 0.
    impact_altitude_w: 1000000.
    impact_velocity_w: 100000.
    friction_cone_w: 0.
    control_bound_w: 10000.
    control_reg_w: 10000.
    force_reg_w: 100.
    terminal_velocity_w: 1000.
    uref: [-0.02615051, -0.25848605, 0.51696646, 0.0285894, -0.25720605, 0.51441775,
      -0.02614404, 0.25848271, -0.51697107, 0.02859587, 0.25720939, -0.51441314]
  jump:
    <<: *base_task_pms
    jump_height_w: 10000.
    jump_velocity: [0.6, 0., 0.0, 0., 0., 0.]
    t_jump: 0.18
    t_land: 0.4
sim:
  record_video: false
